@media screen and (min-width: 1200px) {}

@media screen and (max-width: 1199px) {
		#cssmenu {
			min-height: auto;
		}
		#cssmenu > ul > li > a {
			padding: 10px 8px;
			font-size: 13px;
		}
		#cssmenu > ul > li.has-sub > a::after {
			top: 13px;
			right: 5px;
		}
		#cssmenu > ul > li.has-sub > a::before {
			top: 10px;
			right: 8px;
		}
		#cssmenu > ul > li.has-sub > a {
			padding-right: 19px;
		}
    .title-sidebar h4 {
        font-size: 14px;
    }

    .node-page h4 {
        font-size: 16px;
    }

    .video-about {
        height: 400px;
        width: 100%;
    }
    .node-news:first-child {
        margin-top: 45px;
    }
    .node-news .flexbox .entry-image {
        width: 35%;
    }
    .node-news .flexbox .entry-image a img {
        width: 100%;
    }
    .node-news .flexbox .summary {
        width: 65%;
        padding-left: 15px;
    }
}

@media screen and (max-width: 930px) {
    .node-home {
        min-height: 262px;
    }

}

@media screen and (max-width: 992px) {
    .tab-home li a {
        padding: 10px 29.7px;
    }

    .copyright {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 930px) {
    .node-home .pro-img {
        width: 350px;
        height: 250px;
        display: block;
        margin: 0 auto 15px;
    }

    .node-home .pro-img img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        object-fit: contain;
    }
}

@media screen and (max-width:991px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none
    }

    .logo2 {
        display: none
    }

    nav {
        width: 100%;
    }

    #cssmenu {
        width: 100%
    }

    #cssmenu ul {
        width: 100%;
        display: none
    }

    #cssmenu ul li {
      width: 100%;
   	  background: #afdfff;
      border-top: 1px solid #444
    }

    #cssmenu ul li:hover {
       background-color: #42A7EF;
    }

    #cssmenu ul ul li,
    #cssmenu li:hover>ul>li {
        height: auto
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    #cssmenu>ul>li {
        float: none
    }

    #cssmenu ul ul li a {

        padding-left: 25px
    }
    #cssmenu ul ul li {
    }
    #cssmenu ul ul li:hover {
        background: #363636;
    }
    #cssmenu ul ul ul li a {
        padding-left: 35px
    }
    #cssmenu ul ul li a {
        color: #333;
        background: none
    }
    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li.active>a {
        color: #fff
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
    #cssmenu>ul>li.has-sub>a:after,
    #cssmenu>ul>li.has-sub>a:before,
    #cssmenu ul ul>li.has-sub>a:after,
    #cssmenu ul ul>li.has-sub>a:before {
        display: none
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }
    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }
    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        padding: 2px 0;
        border-top: 2px solid #3995e5;
        border-bottom: 2px solid #3995e5;
        content: "";
    }

    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #3995e5;
        content: ''
    }

    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #f00;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .button.menu-opened:before {
    		height: 4px;
        top: 23px;
        background: #f00;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 33px;
        width: 46px;
        cursor: pointer
    }

    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }

    #cssmenu ul ul .submenu-button {
        height: auto;
        width: 34px
    }
		#cssmenu .submenu-button::after {
			position: absolute;
			top: 15px;
			right: 19px;
			width: 8px;
			height: 2px;
			display: block;
			background: #333;
			content: '';
		}

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 12px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #333;
        content: ''
    }

		 #cssmenu ul li:hover .submenu-button:before,
	   #cssmenu ul li:hover .submenu-button:after {
	  	 	background-color: #FFF;
		 }
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }

    #cssmenu ul ul ul li.active a {
        border-left: none;
        background-color: #FFF;
    }

    #cssmenu>ul>li.has-sub>ul>li.active>a,
    #cssmenu>ul ul>li.has-sub>ul>li.active>a {
        border-top: none
    }
}

@media (min-width: 768px) and (max-width: 930px) {
    .node-page {
        margin-bottom: 20px;
    }

    .main-menu .navbar-nav li {
        margin: 0;
    }

    .main-menu .navbar-nav li a {
        padding: 8px 3.5px;
        font-size: 11px;
    }

    .title-page h1 {
        font-size: 20px;
    }

    .slide-adv .item {
        height: auto;
    }
}
@media screen and (max-width: 768px){
	.title-sidebar {
		margin-top: 10px;
	}
	.title-sidebar h4 {
	font-size: 10px;
}
}
@media screen and (max-width: 767px) {
    .node-news .flexbox .entry-image a img {
        height: auto;
    }
    .slide-adv .item {
        height: auto;
    }
    .custom-sidebar {
        padding-left: 15px;
    }

    .left-sidebar {
        display: none;
    }
    .title-sidebar {
        width: 55%;
    }
    .video-about {
        width: 100%;
        height: auto;
    }
    .content-page {
        padding: 35px 0 15px;
    }

    .slider .sidebar {
        margin-top: 20px;
    }

    .node-home .pro-img {
        width: 65%;
        height: auto;
    }

    .node-home .pro-info {
        text-align: center;
    }
    .node-page {
        width: 65%;
        margin: 0 auto 20px;
    }

    .footer .google-map {
        width: 65%;
        height: 250px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .node-news:first-child {
        margin-top: 20px;
    }
    .title-sidebar {
        width: 75%;
    }
    .tab-home li a {
        padding: 8px 10px;
        font-size: 10px;
    }
    .node-page {
        width: 100%;
        margin: 0 auto 20px;
    }
		.node-home .pro-img {
			width: 85%;
			height: auto;
		}
    .node-news .title-node-news h2 a {
        font-size: 18px;
    }
    .node-news .flexbox .entry-image {
        width: 100%;
        float: none;
        height: auto;
        margin-bottom: 10px;
    }

    .node-news .flexbox .summary {
        width: 100%;
        padding: 0;
        float: none;
    }
}

@media screen and (max-width: 414px) {

    .title-sidebar {
        width: 100%;
    }

    .tab-home li a {
        padding: 6px 4px;
        font-size: 10px;
    }

    .node-home .pro-img {
        width: 85%;
    }

    .footer .google-map {
        width: 85%;
        height: 250px;
        margin-top: 20px;
    }

    .custom-main {
        padding: 0;
    }

    .node-news {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {
    .tab-home li {
        margin-bottom: 5px;
    }

    .tab-home li a {
        padding: 6px 8px;
        font-size: 12px;
        text-align: center;
    }

    .node-home .pro-img {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {}