* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  vertical-align: middle;
}

body {
  font-family: "Roboto", arial, sans-serif;
}

.logo {
  position: relative;
  padding: 2px 0;
  color: #6DDB07;
  float: left;
  width: 10%;
}

nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.wrapper-header {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #head-mobile {
  display: none;
}

#cssmenu {
  background-color: #fff;
}

#cssmenu .navbars {
  float: left;
  background-color: #f0f0f0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

#cssmenu > ul > li {
  float: left;
}

#cssmenu > ul > li > a {
  padding: 12px 14px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-left: 1px solid #dfdfdf;
}
#cssmenu > ul > li > a:last-child {
  border-right: 1px solid #dfdfdf;
}

#cssmenu ul li.active ul li a {
  color: #333;
}

#cssmenu ul li.active ul li a:hover {
  color: #FFF;
}

#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
  color: #fff;
}

#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
  background-color: #42a7ef;
  -webkit-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

/* #cssmenu>ul>li.has-sub>a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background-color: #333;
        content: ''
    }

    #cssmenu>ul>li.has-sub>a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background-color: #333;
        content: '';
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease
    } */
#cssmenu ul li.has-sub.active:hover > a:after {
  background-color: #FFF;
}

#cssmenu > ul > li.has-sub:hover > a:before,
#cssmenu > ul > li.has-sub:hover > a:after {
  background-color: #FFF;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 4;
}

#cssmenu ul ul li {
  display: block;
  height: auto;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu ul ul li:hover {
  border-color: #FFF;
}

#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu li:hover > ul > li {
  height: auto;
}

#cssmenu ul ul ul {
  top: 0;
}

#cssmenu ul ul li a {
  background: #afdfff;
  border-bottom: 1px solid #fff;
  padding: 14px 12px;
  width: 25em;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

#cssmenu ul .sub-menu-1 li a,
#cssmenu ul .sub-menu-4 li a {
  width: 15em;
}

sub-menu-1 #cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  background-color: #42A7EF;
  color: #fff;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}

#cssmenu ul ul ul li.active a {
  color: #FFF;
}

#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}

.slider {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.slider .slide-adv {
  display: block;
  position: relative;
}
.slider .slide-adv .item {
  width: 100%;
  height: 400px;
  display: block;
}
.slider .slide-adv .item img {
  height: 100%;
}
.slider .slide-adv .owl-nav {
  top: 40%;
  position: absolute;
  left: 0;
  right: 0;
}
.slider .slide-adv .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 28px;
  margin: 5px;
  background: none;
  display: inline-block;
  cursor: pointer;
}
.slider .slide-adv .owl-nav .owl-prev {
  margin-left: 20px;
  float: left;
}
.slider .slide-adv .owl-nav .owl-next {
  float: right;
  margin-right: 20px;
}

.news-home {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 25px;
}

.title-home {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.title-home h1,
.title-home h2 {
  color: #2E9BFC;
  font-size: 28px;
  text-transform: uppercase;
}

.border-title {
  display: block;
  text-align: center;
}
.border-title span {
  font-size: 34px;
  color: #2E9BFC;
}
.border-title .boder-home {
  display: inline-block;
  padding: 1.5px 50px;
  margin: 10px 5px;
}
.border-title .boder-home:first-child {
  background-image: -webkit-linear-gradient(left, #2E9BFC, transparent);
  background-image: -o-linear-gradient(left, #2E9BFC, transparent);
  background-image: linear-gradient(to left, #2E9BFC, transparent);
}
.border-title .boder-home:last-child {
  background-image: -webkit-linear-gradient(left, #2E9BFC, transparent);
  background-image: -o-linear-gradient(left, #2E9BFC, transparent);
  background-image: linear-gradient(to right, #2E9BFC, transparent);
}

.post-news-home {
  width: 100%;
  height: auto;
  display: block;
}
.post-news-home .content-image {
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: block;
  margin-bottom: 10px;
}
.post-news-home .content-image img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.post-news-home .content-image img:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.post-news-home .content-info {
  text-align: center;
}
.post-news-home .content-info h4 {
  color: #464646;
  font-size: 18px;
}

.fix-col-home {
  padding-right: 0;
}

.post-notification-home {
  width: 100%;
  height: auto;
  display: block;
}
.post-notification-home .content-image {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 350px;
  margin-bottom: 15px;
}
.post-notification-home .content-image img {
  height: 100%;
  width: 100%;
}
.post-notification-home .content-image img:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.post-notification-home .content-info a {
  display: block;
  color: #464646;
}

.list-notification {
  width: 100%;
  height: auto;
}
.list-notification .post-list-home {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.list-notification .post-list-home .list-image {
  overflow: hidden;
  display: block;
  width: 30%;
  height: 75px;
  margin-bottom: 10px;
  float: left;
}
.list-notification .post-list-home .list-image img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.list-notification .post-list-home .list-image img:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.list-notification .post-list-home .list-info {
  display: block;
  width: 70%;
  float: left;
  padding-left: 15px;
}
.list-notification .post-list-home .list-info a {
  font-size: 14px;
  color: #393939;
}
.list-notification .post-list-home:after {
  content: "";
  display: table;
  clear: both;
}

.post-list-home:after {
  display: table;
  content: "";
  clear: both;
}

.wrapper-student-home {
  position: relative;
  width: 100%;
  height: auto;
}
.wrapper-student-home .owl-nav {
  top: 25%;
  position: absolute;
  left: 0;
  right: 0;
}
.wrapper-student-home .owl-nav [class*=owl-] {
  color: #464646;
  font-size: 28px;
  margin: 5px;
  background: none;
  display: inline-block;
  cursor: pointer;
}
.wrapper-student-home .owl-nav [class*=owl-]:hover {
  color: #2e9bfc;
  background: none;
}
.wrapper-student-home .owl-nav .owl-prev {
  margin-left: 10px;
  float: left;
}
.wrapper-student-home .owl-nav .owl-next {
  float: right;
  margin-right: 10px;
}
.wrapper-student-home .post-student {
  display: block;
  width: 100%;
  margin: auto;
}
.wrapper-student-home .post-student .content-image {
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
}
.wrapper-student-home .post-student .content-image img {
  max-width: 100%;
  margin: 0 auto;
}
.wrapper-student-home .post-student .content-image img:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.wrapper-student-home .post-student .content-info {
  width: 100%;
  text-align: justify;
}
.wrapper-student-home .post-student .content-info a {
  color: #464646;
}
.wrapper-student-home .post-student .content-info a h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.wrapper-footer {
  width: 100%;
  display: block;
  background-color: #0e4e96;
  padding: 20px 0;
}

.title-footer {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.title-footer h3 {
  margin-bottom: 5px;
  color: #FFF;
  font-size: 18px;
  text-transform: uppercase;
}
.title-footer .border-footer {
  width: 200px;
  height: 3px;
  margin: 0 auto;
  background-image: linear-gradient(to right bottom, #FFF, #999);
}

.goole-maps {
  width: 100%;
  display: block;
  text-align: center;
}
.goole-maps .map {
  display: block;
  margin: auto;
  width: 100%;
  height: 200px;
}
.goole-maps .map iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.list-address {
  text-align: center;
  margin-left: 45px;
}
.list-address ul {
  list-style: none;
  display: inline-block;
}
.list-address ul li {
  display: block;
  color: #FFF;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 14px;
}
.list-address ul li span {
  display: inline-block;
  color: #ffce49;
  font-size: 18px;
  margin-right: 5px;
}

.list-link-footer {
  margin-left: 20px;
  text-align: center;
  display: block;
  width: 100%;
}
.list-link-footer ul {
  list-style: none;
  display: inline-block;
}
.list-link-footer ul li {
  display: block;
  margin-bottom: 5px;
}
.list-link-footer ul li a {
  text-align: justify;
  color: #FFF;
  display: block;
  font-size: 14px;
}

.news-content {
  display: block;
  padding-bottom: 25px;
  width: 100%;
}

.latest-news {
  margin-bottom: 20px;
}
.latest-news .title-news {
  margin-bottom: 15px;
  display: block;
  width: 100%;
}
.latest-news .title-news h2 {
  font-size: 20px;
  color: #464646;
  text-transform: uppercase;
}
.latest-news::after {
  margin-top: 15px;
  content: "";
  display: block;
  width: 100%;
  padding: 1px 0;
  background-color: #42A7EF;
}

.wrapper-latest-news .content-image {
  padding-right: 0;
}
.wrapper-latest-news .content-image a {
  display: block;
  width: 100%;
  height: auto;
}
.wrapper-latest-news .content-image a img {
  width: 100%;
  height: 100%;
}
.wrapper-latest-news .content-info span {
  color: #868686;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 7.5px;
}
.wrapper-latest-news .content-info h4 {
  color: #464646;
  margin-bottom: 10px;
  font-size: 18px;
}
.wrapper-latest-news .content-info p {
  color: #464646;
  font-size: 14px;
}
.wrapper-latest-news .content-info a {
  display: block;
  color: #42A7EF;
  text-decoration: none;
}
.wrapper-latest-news .content-info a span {
  color: #42A7EF;
  font-size: 18px;
}

.post-category-news {
  width: 100%;
  min-height: 415px;
  display: block;
  text-align: justify;
  margin-bottom: 20px;
}
.post-category-news .content-image {
  overflow: hidden;
  width: 365px;
  height: 245px;
  display: block;
  margin-bottom: 10px;
}
.post-category-news .content-image img {
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.post-category-news .content-image img:hover {
  transform: scale(1.2);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.post-category-news .content-info a {
  display: block;
  color: #464646;
  font-size: 18px;
  margin-bottom: 7.5px;
}
.post-category-news .content-info span {
  color: #868686;
}

.content-detail {
  display: block;
  padding: 15px 0 20px;
}

.layout-detail {
  display: block;
  width: 100%;
  height: 100%;
}
.layout-detail::after {
  content: "";
  display: table;
  clear: both;
}

.main-content .title-detail {
  width: 100%;
  margin-bottom: 15px;
}
.main-content .content {
  width: 75%;
  float: left;
  padding-right: 20px;
  margin-bottom: 25px;
}
.main-content .footer-detail {
  float: left;
  width: 25%;
  padding: 0 10px;
  background-color: #f0f0f0;
}

.clear {
  display: table;
  clear: both;
}

.sidebar-left {
  display: block;
  background-color: #f0f0f0;
  height: 120vh;
}

.title-sidebar {
  width: 100%;
  padding: 20px 0 10px;
}
.title-sidebar h2 {
  margin-bottom: 7px;
  display: inline-block;
  color: #454545;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.title-sidebar::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2E9BFC;
}

.list-news-sidebar {
  display: block;
  width: 100%;
  height: auto;
}
.list-news-sidebar ul {
  width: 100%;
  display: block;
  margin: auto;
  list-style: none;
}
.list-news-sidebar ul li {
  border-bottom: 1px solid #dfdfdf;
  display: block;
}
.list-news-sidebar ul li a {
  display: block;
  font-size: 14px;
  color: #454545;
  text-align: left;
  padding: 12px 10px;
}

@keyframes scaleon {
  0% {
    opacity: 1;
    transform: scale(0.7);
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
